name: Run bot

on:
  # workflow_dispatch:
  schedule:
    - cron: "0 4-20 * * *"

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v1
      - name: Run bot
        run: |
          bun install
          bun run src/update.ts
          bun run scripts/build-csv.ts
          bun run scripts/geocode.ts
        env:
          MASTO_SERVER_URL: ${{ secrets.MASTO_SERVER_URL }}
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      - name: Commit and push changes
        run: |
          git diff
          git config --local user.name "GitHub Action"
          git config --local user.email "action@github.com"
          git commit -am "Assembly updates" || exit 0
          git push
